[submodule "SolanaProjects/DuAnSolanaSuperTeam/SolanaProjects/DuAnSolanaSuperTeam/create_program"]
	path = SolanaProjects/DuAnSolanaSuperTeam/SolanaProjects/DuAnSolanaSuperTeam/create_program
	url = https://github.com/mocchaust64/test_program.git
